@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@500&family=IBM+Plex+Sans:wght@600&family=Mukta&family=Oswald:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;


}




:root {
    --bg-color: #fff;
    --main-color: #ffb547;
    --text-color: #010101;
    --2nd-color: #434343;
    --other-color: #666666;
    --big-font: 5rem;
    --h2-font: 2.3rem;
    --p-font: 1.3rem;
}




body {
    align-items: center;
    color: var(--text-color);
    background: rgb(208, 137, 255);
    background: linear-gradient(124deg, rgb(235, 211, 251) 0%, rgb(255, 211, 236) 50%, rgb(255, 241, 221) 100%);
    background-repeat: no-repeat;
}




header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14%;
    transition: all .50s ease;
}




.logo img {
    width: 900px;
    height: auto;
}




.navbar {
    display: flex;
}




.navbar a {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 800;
    margin: 10px 22px;
    transition: all .50s ease;
}




.row h3 {
    margin-top: 2rem;
    text-align: center;
    font-size: 35px;
    margin-bottom: 1px;
    font-weight: 800;
    transition: all .50s ease;
}


.row h4 {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    transition: all .50s ease;
    color: rgb(255, 0, 0);
}





.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2.5rem;
    background: #252525;
}




.contact-box h4 {
    margin-bottom: 1.5rem;
    font-size: 18px;
    color: var(--bg-color);
}




.contact-box li {
    margin-bottom: 18px;

}




section {
    padding: 50px 10% 60px;
}




.section {
    margin: 0;
    padding: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




.new-content {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
    text-align: center;

}




.row {
    margin-top: 6rem;
    border: #010101;
    background: #ffb834;
    height: 650px;
    width: 1800px;
    border-radius: 40px;
    position: relative;
    cursor:default;
}


.row1{
    display: flex;
    justify-content: space-evenly;
}







.contact-box li a {
    display: block;
    color: #999999;
    font-size: 15px;
    font-weight: 500;
    transition: all .50s ease;
}




.contact-box li a:hover {
    transform: translate(-7px);
    color: var(--main-color);
}




.contact-box h5 {
    font-size: 16px;
    font-weight: 600;
    color: #999999;
}




.social {
    display: flex;
    margin-top: 1.8rem;
}




.social i {
    height: 37px;
    width: 37px;
    background: transparent;
    border: 2px solid #fc68cf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 1.1rem;
    color: #fc68cf;
    transition: all .50s ease;
}




.social i:hover {
    background: #fc68cf;
    color: #fffeff;
    transform: scale(1.1);

}




.end-text {
    text-align: center;
    background: #272829;
    color: var(--other-color);
    font-size: 15px;
    letter-spacing: 1px;
    padding: 20px;

}




.end-text button {
    padding: 10px 20px;
    background: #6f00ff;
    color: var(--bg-color);
    font-size: 50;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all .50s ease;
    font-weight: 600;
}




.scroll-top {
    position: fixed;
    bottom: 2.3rem;
    right: 2.3rem;
}




.scroll-top i {
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 22px;
    padding: 12px;
    border-radius: 30px;
}




@media(max-width: 1200px) {
    header {
        padding: 12px 3%;
    }

    section {
        padding: 40px 3% 50px;
    }
}




@media(max-width: 920px) {
    #menu-icon {
        display: block;
        height: 30px;
        width: 30px;
        background: var(--text-color);
        color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;

    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: var(--main-color);
        transition: all .50s ease;

    }
}




.navbar a {
    display: block;
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: all .50s ease;
}




.navbar a:hover {
    color: var(--main-color);
    cursor: pointer;
}




.navbar.active {
    top: 100%;
}




@media (max-widht:640px) {
    :root {
        --big-font: 3.8rem;
        --h2-font: 2rem;
        --p-font: 1.1rem;
    }

    .home-text h1 {
        line-height: 1.1;
    }

    .home {
        height: 85vh;
    }
}




.app {
    align-items: center;
}

















.todos1{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}



.todos2{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}



.todos3{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}



.adot1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 20px;
    width: 350px;
    position: left;
    bottom: -30px;
    padding: 12px;
    background: rgba(255, 229, 206, 0.877);
    font-weight: 650;
    transition: opacity 0, 5s;
}



.adicionar{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 20px;
    width: 350px;
    padding: 12px;
    background: rgb(255, 0, 85);
    font-weight: 650;
    font-size: 20px;
}

.adicionar:hover{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 20px;
    width: 350px;
    padding: 12px;
    background: rgb(97, 216, 143);
    font-weight: 650;
}


.adicionar a{
   color: #010101;
}


.voltar{
text-align: center;
margin-bottom: 2rem;
}


.voltar a{
    text-decoration: underline;
    color: #363636;
    font-weight: 600;
}



